  {% extends "govuk/template.njk" %}
  {% block head %}
  <!--[if !IE 8]><!-->
    
    <link rel="stylesheet" type="text/css" href="styles/main.css">

    {% from "govuk/components/header/macro.njk" import govukHeader %}


{{ govukHeader({
  
  homepageUrl: "welcome",

  serviceUrl: "welcome",
  navigation: [
 
    
  ]
}) }}
{% endblock %}

{% block content %}
  
  <h1 class="govuk-heading-xl">Legacy System Login</h1>
</br>
</br>
</br>
</br>
</br>
<div class="flex-container grid-row">
    <div class="card" id="edit-profile">
      <div class="card-body active card-body-profile" id="edit-profile">
        <h3 class="heading-small card-heading card-heading-customer"> Change Password </h3>
        </br>
        </br>
        </br>
        <form action=change-password method="POST">
        <h2 class="heading-small">{{sessions.username}}</h2>
        <h2 class="heading-small">Password: </h2>
        <input type="password class="password" name="password">
        <button type="submit" class="">Submit</button>
        </form>
      </div>
    </div>
</div>





{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
  <script src="/govuk-frontend/all.js"></script>
  <script>window.GOVUKFrontend.initAll()</script>
{% endblock %}