{% extends "govuk/template.njk" %}
  {% block head %}
    
  <!--[if !IE 8]><!-->
    
    <link rel="stylesheet" type="text/css" href="styles/main.css">
    {% from "govuk/components/header/macro.njk" import govukHeader %}

{{ govukHeader({
  
  homepageUrl: "welcome",
  serviceName: "Customer Section",
  serviceUrl: "welcome",
  navigation: [
    {
      href: "help",
      text: "Help",
      active: true
    },
    {
      href: "home",
      text: "Logout"
    }
  ]
}) }}
{% endblock %}
{% block content %}

  {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}  
  {{ govukBreadcrumbs({
  items: [
    {
      text: "Login",
      href: "home"
    },
    {
      text: "Home Hub",
      href: "/homehub"
    },
    {
      text: "NINO Customer Check",
      href: "/nino-customer-check"
    }
  ]
}) }}
  <h1 class="govuk-heading-xl">IICS Legacy Retrieval System</h1>
</br>
</br>
</br>
</br>
</br>
</br>
  <form class="govuk-label--l" action=nino-customer-check method="POST">
<h1 class="govuk-heading-m">Enter Customers NINO</h1>
  <input class="govuk-input govuk-input--width-20" type="text" name="nino" placeholder="" required="required">
</br>
</br>
<h1 class="govuk-heading-m">What is the customers mothers maiden name</h1>
  <input class="govuk-input govuk-input--width-20" type="text" id="securityquestion1" name="securityquestion1" placeholder="" required="required">
</br>
</br>
<h1 class="govuk-heading-m">What town were you born in</h1>
  <input class="govuk-input govuk-input--width-20" type="text" id="securityquestion2" name="securityquestion2" placeholder="" required="required">
</br>
</br>
<h1 class="govuk-heading-m">What make was your first car</h1>
  <input class="govuk-input govuk-input--width-20" type="text" id="securityquestion3" name="securityquestion3" placeholder="" required="required">
</br>
</br>
<button class="govuk-button" data-module="govuk-button" type="nino-customer-check">
  Submit
</button>
</form>
</br>

{% if error %}

<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary" id="govuk-error">
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      <li>
        The NINO you entered doesn't match anything on the database, please try again
      </li>
    </ul>
  </div>
</div>

{% endif %}


{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{{ govukInsetText({
  text: "It can take a few weeks for any changes to show on the account fully"
}) }}



{# Bottom of page #}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{{ govukWarningText({
  text: "If you are not authorized to be on this system, please sign out or risk fine or imprisonment ",
  iconFallbackText: "Warning"
}) }}


{% endblock %}
 
{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
  <script src="/govuk-frontend/all.js"></script>
  <script>window.GOVUKFrontend.initAll()</script>
{% endblock %}