{% extends "govuk/template.njk" %}
  {% block head %}
  <!--[if !IE 8]><!-->
    
    <link rel="stylesheet" type="text/css" href="styles/main.css">

    {% from "govuk/components/header/macro.njk" import govukHeader %}


{{ govukHeader({
  
  homepageUrl: "welcome",
  serviceName: "Customer Section",
  serviceUrl: "welcome",
  navigation: [
    {
      href: "help",
      text: "Help",
      active: true
    },
    {
      href: "home",
      text: "Logout"
    }
  ]
}) }}
{% endblock %}

{% block content %}
  {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}  
  {{ govukBreadcrumbs({
  items: [
    {
      text: "Login",
      href: "home"
    },
    {
      text: "Home Hub",
      href: "/homehub"
    },
    {
      text: "Customer Nino Entry",
      href: "/nino-customer-check"
    }
  ]
}) }}  
<h1 class="govuk-heading-xl"> Security Questions</h1>
</br>
</br>
</br>
</br>

  <form class="govuk-label--l" action=security-questions method="POST">
<h1 class="govuk-heading-m">What is the customers mothers maiden name</h1>
  <input class="govuk-input govuk-input--width-20" type="text" name="securityquestion1" placeholder="" required="required">
</br>
</br>
<h1 class="govuk-heading-m">What town were you born in</h1>
  <input class="govuk-input govuk-input--width-20" type="text" name="securityquestion2" placeholder="" required="required">
</br>
</br>
<h1 class="govuk-heading-m">What make was your first car</h1>
  <input class="govuk-input govuk-input--width-20" type="text" name="securityquestion3" placeholder="" required="required">
</br>
</br>
<button class="govuk-button" data-module="govuk-button" type="securityquestioncheck">
  Submit
</button>
</form>
</br>


{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
  <script src="/govuk-frontend/all.js"></script>
  <script>window.GOVUKFrontend.initAll()</script>
{% endblock %}