{% extends "govuk/template.njk" %}
  {% block head %}
  <!--[if !IE 8]><!-->
    
    <link rel="stylesheet" type="text/css" href="styles/main.css">

    {% from "govuk/components/header/macro.njk" import govukHeader %}


{{ govukHeader({
  
  homepageUrl: "welcome",

  serviceUrl: "welcome",
  navigation: [
 
    
  ]
}) }}
{% endblock %}

{% block content %}
  
  <h1 class="govuk-heading-xl">Legacy System Login</h1>
</br>
</br>
</br>
</br>
</br>
<form class="govuk-label--l" action=login method="POST">
<h1 class="govuk-heading-l">Staff Username</h1>
  <input class="govuk-input govuk-input--width-20" type="text" name="username" placeholder="" required="required">
</br>
</br>
<h1 class="govuk-heading-l">Password</h1>
  <input class="govuk-input govuk-input--width-20" type="password" name="password" placeholder="" required="required">
</br>
</br>
<button class="govuk-button" data-module="govuk-button" type="login">
  Submit
</button>
<button class="govuk-button" data-module="govuk-button" type="forgot">
  Forgot Password
</button>
</form>




{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
  <script src="/govuk-frontend/all.js"></script>
  <script>window.GOVUKFrontend.initAll()</script>
{% endblock %}