{% extends "govuk/template.njk" %}
  {% block head %}
  <!--[if !IE 8]><!-->
    
    <link rel="stylesheet" type="text/css" href="styles/main.css">

    {% from "govuk/components/header/macro.njk" import govukHeader %}


{{ govukHeader({
  
  homepageUrl: "welcome",

  serviceUrl: "welcome",
  navigation: [
 
    
  ]
}) }}
{% endblock %}

{% block content %}
  
<h1> im the screen youre meant to see </h1>




{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
  <script src="/govuk-frontend/all.js"></script>
  <script>window.GOVUKFrontend.initAll()</script>
{% endblock %}